<!DOCTYPE html>
<html>
<head>
	<title>Login Form</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/logincss.css') }}">
	<link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
	<script src="https://kit.fontawesome.com/a81368914c.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	<img class="wave" src="">
	<div class="container">
		<div class="img">
			<img src="static/img/banner.gif">
		</div>
		<div class="login-content">
			<form action="\login">
                <h2 class="title">Welcome to GENCONNET Portal</h2>
				<img class="google" src="static/img/google.png"><br>
            	<input type="submit" class="btn" value="Login with Google">
            </form>
        </div>
    </div>
    <script type="text/javascript" src="static/js/main.js"></script>
</body>
</html>